
{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load staticfiles %}

{% block title %}
    Instructions
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
<!-- Game prompt -->

The purpose of this study is to compare examine social preferences in a lab setting to behaviors exhibited in real life.
<br><br>
 You will play seven games. One game will be picked randomly, and you will receive payment for that game. All games are in experiment currency units ("ECU" or "points").
<br><br>
 10 ECU = $1, or alternatively 1 ECU = $0.10 <br> <br>
 You will also answer 20 questions regarding social behavior exhibited in the past. For each question, you will state the frequency in which you have done the action.
 <br><br>
 Upon completion of the games and survey questions, we will access your Wesleyan donations information. Only the researchers involved in this study (who have all completed CITI training) will have access to the information. 
 <br><br>
 If you provide your consent and would like to proceed with the study, please enter your Wesleyan email and PayPal email (for payment purposes) and then proceed. You will be paid late February.
 <br><br>


 {% formfield player.email %}



 {% formfield player.paypal %}

    {% next_button %}

{% endblock %}