{% extends "global/Base.html" %}


{% load staticfiles otree_tags %}

{% block title %}
	{{x}}
  
{% endblock %}


{% block content %}
<p>
You will be randomly matched with three other players. Please decide how much of the {{player.endowment}} you will put in the public funds pool. The total amount in the pool will be multiplied by 2, and then split evenly amonst the four of you. Therefore you will receive your remaining amount plus the divided pooled amount.
</p>

{% formfield player.public_donation %}

{% next_button %}




{% endblock %}

