{% extends "global/Base.html" %}


{% load staticfiles otree_tags %}

{% block title %}
	{{x}}
  
{% endblock %}


{% block content %}
<p>
You will be randomly matched with three other players. You each are endowed with {{player.endowment}}. Everyone can donate points into a public funds pool. The total amount in the pool will be multiplied by 2, and then split evenly amongst the four of you. Therefore you will receive your remaining amount plus the divided pooled amount. Now please decide how much of your {{player.endowment}} to put into the pool.
</p>

{% formfield player.public_donation %}

{% next_button %}




{% endblock %}

