{% extends "global/Base.html" %}


{% load staticfiles otree_tags %}

{% block title %}
	{{x}}
  
{% endblock %}


{% block content %}
<p>
You are Player 1 (the proposer). You are endowed with {{player.endowment}}. Please decide how much of the {{player.endowment}} you will give to Player 2 (the responder). This amount will be multiplied by 3. Player 2 will then decide how much of the multiplied amount, if any, to return back to you.
</p>

{% formfield player.trust1_donation %}

{% next_button %}




{% endblock %}

